body {
    background-image: url(/assets/img/8ca102a811768049d3c329f9d471130a.gif);
}
img {
    width: 10vw;
}
#Pierre,#Feuille,#Ciseaux {
    border-radius: 10px;
}
#headingOne {
    padding-left: 44%;
}